:root {
  --my-brand-color-100: #1697f6;
  --my-brand-color-200: #1867c0;
  --my-brand-color-300: #2a73c5;

  // 首页封面hero的大标题的渐变效果
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(
    120deg,
    var(--my-brand-color-100) 30%,
    var(--my-brand-color-200)
  );

  // 首页封面的brand按钮的背景色鼠标移入的颜色
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--my-brand-color-100);
  --vp-button-brand-hover-bg: var(--my-brand-color-200);

  // 侧边栏的背景色
  --vp-sidebar-bg-color: #fff;

  // 行内代码的颜色
  --vp-code-bg: #f9f2f4;
  --vp-code-color: #c7254e;

  // 这三个主题色控制这全局的风格(导航栏、侧边栏、链接、上一页、下一页等的颜色)
  --vp-c-brand-1: var(--my-brand-color-100);
  --vp-c-brand-2: var(--my-brand-color-200);
  --vp-c-brand-3: var(--my-brand-color-300);
}

// 暗黑模式下的侧边栏的背景色
.dark {
  --vp-sidebar-bg-color: #161618;
}

// 复制代码的时的提示
html[lang="zh-Hans"] {
  --vp-code-copy-copied-text-content: "已复制";
}

html[lang="en-US"] {
  --vp-code-copy-copied-text-content: "Copied!";
}
