:root {
  --my-c-brand-1: #5dad2d;
  --my-c-brand-2: #186327;
  --my-c-brand-3: #5dad2d;

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(120deg, #5dad2d 30%, #135626);

  --vp-home-hero-image-background-image: radial-gradient(
    circle at center,
    rgba(93, 173, 45, 0.85) 0%,
    rgba(93, 173, 45, 0.6) 16%,
    rgba(93, 173, 45, 0.35) 36%,
    rgba(93, 173, 45, 0.18) 56%,
    rgba(93, 173, 45, 0.08) 70%,
    transparent 84%
  );

  --vp-home-hero-image-filter: blur(68px);

  --vp-button-brand-bg: var(--my-c-brand-1);
  --vp-button-brand-hover-bg: var(--my-c-brand-2);

  --vp-c-brand-1: var(--my-c-brand-1);
  --vp-c-brand-2: var(--my-c-brand-2);
  --vp-c-brand-3: var(--my-c-brand-3);

  // 侧边栏的背景色
  --vp-sidebar-bg-color: #fff;

  // 行内代码的颜色
  --vp-code-bg: #f9f2f4;
  --vp-code-color: #c7254e;
}

// 暗黑模式下的侧边栏的背景色
.dark {
  --vp-sidebar-bg-color: #161618;
}

// 复制代码的时的提示
html[lang="zh-Hans"] {
  --vp-code-copy-copied-text-content: "已复制";
}

html[lang="en-US"] {
  --vp-code-copy-copied-text-content: "Copied!";
}
